// Specific CSS for your home-page
.home_video {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  top: 0;
  z-index: -1;
  filter: blur(0px) brightness(80%);
}

.home-video-wrapper {
  height: 77vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.logo_full {
  width: 500px;
  transition: transform 50s ease-out;
}

.logo_full:hover {
  transform: rotate(360deg);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.home-video-wrapper .btn-home{
  position: absolute;
  background-color: #FFD336;
  font-size: 20px;
  border-radius: 40px;
  padding: 13px 120px;
  margin: 0;
  font-weight: lighter;
  /* width: 30%; */
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  bottom: 30%;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #FFD336;
}

.btn-home:hover {
  color: white;
}
