// Specific CSS for your home-page

.home-wrapper {
  height: 70vh;
  margin: 5px;
}

p.home {
  width: 500px;
  text-align: center;
  color: black;
  font-size: 18px;
  position: fixed;
  top: 8%;
  left: 30%;
}

.logo-full {
  width: 500px;
  position: fixed;
  left: 30%;
  top: 17%;
  filter: drop-shadow(0 2px 6px rgba(0,0,0,0.08));
  transition: transform 50s ease-out;
}

.logo-full:hover {
  transform: rotate(360deg);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.btn-home {
  position: relative;
  width: 500px;
  padding: 10px;
  top: 30%;
  left: 30%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: background-color .2s ease-in-out;
}

.btn-home:hover {
  background-color: transparent;
  border: $green 1px solid;
}

.img-wrapper {
  position: fixed;
  bottom: 5px;
  //background-image: url(home.jpeg);
  margin: 5px;
  width: 99vw;
  z-index: -100;
}

.img-wrapper-small {
  height: 20vh;
}

.img-wrapper-full {
  height: 98vh;
}

.img-full {
  position: absolute;
  overflow: hidden;
  left: 0;
  height: 0vh;
  filter: brightness(40%);
}

// .img-wrapper-small .img-full {
//   position: absolute;
//   left: 0;
//   width: 150%;
//   bottom: -400px;
// }

// .img-wrapper-full .img-full {
//   position: absolute;
//   left: 0;
//   width: 150%;
//   bottom: -230px;
// }

.create p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  letter-spacing: 0;
  color: $light;
}

.create i {
  font-size: 18px;
}

p span {
  display: inline-table;
}

.create span:nth-child(even) {
  overflow: hidden;
  letter-spacing: -1em;
  opacity: 0;
  transition: all .3s ease-in-out;
  transition: opacity .1s ease-in-out;
}

.create:hover span:nth-child(even) {
  letter-spacing: 0;
  opacity: 1;
  color: $dark;
}

.create:hover i {
  letter-spacing: 0;
  color: $dark;
  opacity: 0;
  display: none;
}
