// Import page-specific CSS files here.
@import "home";
@import "show";

.container {
    max-width: 100%;
   margin-bottom: 50px;
}

.container-2 {
    max-width: 75%;
   margin-inline: auto;
}

abbr {
  display: none;
}
