#show-title {
  font-family: 'Prophet-L', 'Helvetica';
  font-size: 20px;
  font-weight: bold;
}

#show-title-big {
  font-size: 30px;
  font-weight: bold;
}

#top-info {
  display: initial;
}

.comment {
  background-color: white;
  width:100%;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    list-style: none;
}

.focus-only:focus {
  color: $green;
}
