<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../assets/images/home_bg.jpg);">
  <div class="container">
    <h3>Book a cruise and live <br> a <div class="green-txt">sailing experience </div> with your friends and family</h3>

    <p>PYC will be your faithful travel companion. <br> Look for the right companions so you don't have to travel alone, share the maintenance costs and explore the seas! </p>
    <%= simple_form_for :search, url: cruises_path(:anchor => "offers"), method: :get do |f| %>
      <div class="search-form-control-home form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>

<h2 class="container my-3 px-4" id="offers"> Fav destinations </h2>
<p class="px-4 col-6"> La quand meme je vais mettre du texte pour expliquer un peu pck c'est
  vraiment miskine d'avoir que dalle dans cette section de la page... non ?</p>

<div class="container">
  <div class="cards-fav">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1582449632051-e699411ff297?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80)">
      Corsica
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560611840-1df6c351e40e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80)">
      Cotes d'Armor
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1601077779632-495330197b7f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80)">
      Caribbean Sea
    </div>
  </div>
</div>
