<div class="home-video-wrapper">
  <%= video_tag "homepage_background.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video blur brightness"%>
  <%= image_tag "logo_dark.png", alt: "PYC", class: "logo_full" %>
  <%= link_to "Plan a trip", cruises_path, class: "btn btn-primary" %>
</div>
