<div class="home-wrapper">
  <p class="home">Welcome to</p>
  <%= image_tag "logo_black.png", alt: "PYC", class: "logo_full" %>
</div>

<div class="img-wrapper"> <%= image_tag "home.jpeg", alt: "PYC", class: "img_full" %> </div>
<%= link_to "Plan a trip", cruises_path, class: "btn btn-home btn-success" %>
