<div class="home-wrapper">
  <% if user_signed_in? %>
    <p class="home">Hello <%= current_user.first_name %>, <br> welcome back to</p>
  <% else %>
    <p class="home">Welcome to</p>
  <% end %>
  <%= image_tag "logo_black.png", alt: "PYC", class: "logo-full" %>
</div>

<div class="img-wrapper img-wrapper-small">
<%= video_tag "homepage_background.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "img-full"%>
<%= link_to cruises_path, class: "create btn btn-home btn-success" do %>
  <p class="btn-create"> <span id="span-color">Discover more&nbsp;&nbsp;</span><span><i class="fas fa-anchor"></i></span></p>
<% end %>
</div>

<!-- <div class="create justify-content-center">
