.carousel-inner {
  position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    z-index: -1;
    height: 500px;
    border-radius: 3px;
}

.carousel-item img{
  width: 900px;
}

.tag i {
    margin-bottom: 21px;
}

.carousel {
  overflow: hidden;
}

.cover {
  object-fit: cover;
}
