.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip p {
  font-size: 13px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-trip h2, a {
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  color: black;
}

.card-trip-infos p {
  font-weight: lighter;
}

a:hover {
  color: black;
  text-decoration: none;
}

.card-trip .card-trip-infos {
  padding: 10px 15px 13px 15px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  position: relative;
  h2 {
    font-family: "Prophet-L";
    width: 245px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 13px;
  top: -18px;
  width: 30px;
}

.sumup {
  display: grid;
  grid-template-columns: 2fr 0.2fr;
  grid-gap: 0;
  max-width: 260px;
  justify-content: space-between;
}

.card-trip-pricing {
  position: absolute;
  top: -185px;
  font-size: 13px;
  background-color: $dark;
  padding: 5px 15px;
  border-radius: 3px;
  color: $light;
  font-weight: 100;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  em {
    font-size: 10px;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.cards-fav {
  margin: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 36px;
}

.card-book {
  overflow: hidden;
  background: white;
  box-shadow: 0 20px 30px rgba(0,0,0,0.1);
  border-radius: 5px;
  width: 350px;
  padding: 30px;
  position: fixed;
  right: 50px;
  top: 135px;
  z-index: 101;
}

.form-wrapper {
  width: 100%;
}

.form-group {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  /* padding: 10px; */
}

label {
  display: inline-block;
  margin-bottom: 0px;
  margin-right: 10px;
}

.card-trip:hover img{
  filter: brightness(0.9);
}

.btn-book {
  width: 100%;
  margin-top: 20px;
}

.btn-back {
  margin-top: 30px;
  background-color: transparent;
}

#before-avatar:hover::before {
  content: "Hey, I'm your captain !";
  font-size: 10px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
