.carousel-inner {
    overflow: hidden;
    margin-bottom: 30px;
    z-index: -1;
    height: 420px;
    border-radius: 3px;
}

.carousel-item .seed img{
  margin-top: -500px;
  height: 100%;
}

.carousel-item {
  object-fit: cover;
}

.tag i {
    margin-bottom: 21px;
}

.carousel {
  overflow: hidden;
}
