.carousel-inner {
    overflow: hidden;
    margin-bottom: 30px;
    z-index: -1;
    height: 500px;
    border-radius: 3px;
}

.carousel-item img{
  height: 100vh;
}

.carousel-item {
  object-fit: cover;
}

.tag i {
    margin-bottom: 21px;
}

.carousel {
  overflow: hidden;
}
