.modale {
  padding: 100px 400px;
}

.modale h2 {
  justify-content: center;
  text-align: center;
}

.modale p {
  justify-content: center;
  text-align: center;
  line-height: .4;
  margin-bottom: 40px;
}

.form-control {
  border-radius: 3px;
}

.form-actions {
  justify-content: center;
  text-align: center;
  background-color: $green;
    border-radius: 3px;
    margin-bottom: 30px;
}

.user_remember_me {
  justify-content: center;
  text-align: center;
}

.modale a {
  font-size: 12px;
  color: $dark;
}

.form-link {
  justify-content: center;
  text-align: center;
}

.text-muted {
  margin-left: 10px;
}
