.modale {
  padding: 100px 400px;
}

.modale h2 {
  justify-content: center;
  text-align: center;
}

.modale p {
  justify-content: center;
  text-align: center;
  line-height: .4;
  margin-bottom: 40px;
}

.form-control {
  border-radius: 3px;
}

.form-actions {
  justify-content: center;
  text-align: center;
  background-color: $green;
    border-radius: 3px;
    margin-bottom: 30px;
}

.user_remember_me {
  justify-content: center;
  text-align: center;
}

.modale a {
  font-size: 12px;
  color: $dark;
}

.form-link {
  justify-content: center;
  text-align: center;
}

.text-muted {
  margin-left: 10px;
}

/////////

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    pointer-events: auto;
    background-color: $light;
    background-clip: padding-box;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    /* outline: 0; */
    padding: 0 10px 10px 10px;
}

.modal-dialog-centered {
    display: flex;
    max-width: 700px;
    align-items: center;
    min-height: calc(100% - 7rem);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 0px solid #dee2e6;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.modal-body .form-control {
    /* display: block; */
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-radius: 2px;
    border-bottom: 1px solid #dee2e6;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
