.avatar {
  width: 30px;
  filter: grayscale(1);
  margin-left: 10px;
}

.avatar:hover {
  filter: grayscale(0);
}

.menu {
  width: 23px;
  margin-right: 15px;
}

.menu:hover {
  margin-right: 15px;
  transform: scaleY(-1);
}

.logo-navbar {
    width: 135px;
    padding: 10px 20px;
  transition: transform 50s ease-out;
}

.logo-navbar:hover {
  transform: rotate(360deg);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navbar-lewagon {
  background: $light;
  justify-content: space-between;
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#home-navbar {
  opacity: 1;
}

.nav-item {
  align-items: center;
  display: flex;
}

.dropdown-menu {
  border-radius: 3px;
  border: transparent;
  background-color: transparent;
}

.navbar-nav .dropdown-menu {
    left: -100px;
}

.dropdown-item {
  font-weight: 200;
  font-size: 13px;
  text-align: right;
}

.dropdown-item:hover {
  text-decoration: none;
  background: transparent;
  font-style: italic;
}

.btn-flat {
  border-radius: 3px;
}

.underline {
  position: relative;
}

.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: $green;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .2s ease-in-out;
}

.underline:hover:before {
  visibility: visible;
  transform: scaleX(0.85);
}
