.avatar {
  width: 30px;
  filter: grayscale(1);

}

.avatar:hover {
  filter: grayscale(0);
}

.menu {
  width: 30px;
  margin-right: 10px;
}

.logo-navbar {
  width: 100px;
}

.nav-title-link {
  margin: 0;
}

.nav-link {
  font-size: 18px;
  font-weight: lighter;
}

.navbar-lewagon {
  justify-content: space-between;
  z-index: 1000;
  position: relative;
  width: 100%;
}

.navbar-lewagon-transparent {
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#home-navbar {
  opacity: 1;
}

.nav-item {
  align-items: center;
  display: flex;
}

.dropdown-menu {
  border-radius: 30px;
}

.dropdown-item {
  font-weight: 200;
  font-size: 13px;
  text-align: center;
}

.dropdown-item:hover {
  text-decoration: none;
  background: transparent;
  font-style: italic;
}
