.avatar {
  width: 30px;
  filter: grayscale(1);
}

.avatar:hover {
  filter: grayscale(0);
}

.menu {
  width: 23px;
  margin-right: 15px;
}

.menu:hover {
  margin-right: 15px;
  transform: scaleY(-1);
}

.logo-navbar {
    width: 135px;
    padding: 10px 20px;
  transition: transform 50s ease-out;
}

.logo-navbar:hover {
  transform: rotate(360deg);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navbar-lewagon {
  background: $light;
  justify-content: space-between;
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#home-navbar {
  opacity: 1;
}

.nav-item {
  align-items: center;
  display: flex;
}

.dropdown-menu {
  border-radius: 3px;
  border: transparent;
  background-color: white;
}

.dropdown-menu.show {
  display: inherit;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  left: -767px;
  top: -12px;
}

// .navbar-nav .dropdown-menu {
//     display: flex;
//     left: -200px;
// }

.dropdown-item {
  font-weight: 200;
  font-size: 13px;
  text-align: center;
  padding: 0.5rem 3.1rem;
}

.dropdown-item:hover {
  text-decoration: none;
  background: transparent;
  font-style: italic;
}
